################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/webjava/.vs/webjava/v15/Server/sqlite3
