@charset "utf-8";

html {overflow-y: scroll;}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #F8F8F8;
    font-family: 'Roboto Condensed', sans-serif!important;
}

.altura {
    height: 34px;
}

.aplicacoes {
    width: 350px;
    height: auto!important;
    background-color: #13385F;
    z-index: 999!important;
}

    .aplicacoes li {
        float: left;
        width: 116.6px;
        height: auto!important;
    }

        .aplicacoes li:hover {
            float: left;
            width: 116.6px;
            height: auto!important;
        }

        .aplicacoes li a {
            border-bottom: 0px!important;
            width: 100%!important;
        }

    .aplicacoes .hero-feature {
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .aplicacoes .bloco {
        padding: 0px;
    }

#barrasp_nav form fieldset select {
    height: 18px;
    border-radius: 0 0;
}


.hero-spacer {
    margin-top: 10px;
}

.hero-feature {
    margin-bottom: 30px;
}

.logoHeader {
    width: 6%;
    height: 72px;
    float: left;
    background: url('/Assets/Img/logo_procon.png') no-repeat;
    background-size: 100%;
    font-size: 0;
}

.jumbotron {
    padding: 5px 0 !important;
}


.secaoHeader {
    /*width: 50%;*/
    height: 72px;
    float: right;
    padding: 20px 0 0 0;
}

.secaoHeaderAcoes {
    width: 100%;
    height: 36px;
}

#buscar {
    height: 31px;
}

#btn-home {
    width: 30px;
    height: 30px;
    background: #F8F8F8 url('../img/Home.png') no-repeat;
    background-position: 8px 3px;
}

#btn-search {
    background: transparent;
    padding-top: 0;
    /*width: 30px;
	height: 30px;
	background: #F8F8F8 url('../img/Lupa.png') no-repeat;
	background-position: -3px 4px;
	cursor: pointer;
	font-size: 14px;
	font-size: 0;*/
}

#btn-config {
    background: transparent;
    padding-top: 0;
    /*width: 30px;
	height: 28px;
	background: #F8F8F8 url('../img/Config.png') no-repeat;
	background-position: 2px 4px;
	cursor: pointer;
	font-size: 0;*/
}


.secaoHeaderAcoesIcones {
    float: right;
    min-width: 40px;
    height: 34px;
    text-align: center;
}

.secaoHeaderUsuarioData {
    /*width: 99%;*/
    height: 36px;
    line-height: 35px;
    text-align: right;
    font-size: 14px;
}

.NomeUser {
    float: right;
    height: 15px;
    padding: 0;
}
.NomeUA {
    color: #13385F;
    margin-right: 5%;
    font-size: 1.1em;
    font-style:italic;
    top: 25px;
    right: 25px;
    position:absolute;

}

.UAuser {
    float: right;
    height: 15px;
    padding: 0;
}

.DataUser {
    float: right;
    height: 15px;
    padding: 0;
}

.talqSeparador {
    float: right;
    height: 16px;
    margin: 8px 14px;
    border-right: 1px solid #33333F;
}

.secaoHeaderConfig {
    width: 170px;
    background: #fff;
    position: absolute;
    z-index: 99999999;
    margin: 23px 0 0 -135px;
    border: 1px solid #333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
}

    .secaoHeaderConfig li {
        padding: 7px 5px;
        text-align: right;
        border-bottom: 1px dotted #bbb;
        font-size: 18px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .secaoHeaderConfig li:hover {
            background: #f8f8f8;
        }

.seta-cima:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    position: absolute;
    margin: -6px 0 0 61px;
}


.clear {
    clear: both;
}

footer {
    margin: 0px 0;
}

.thumbnail {
    height: 262px;
}

.thumbnailM {
    height: 262px;
}

.thumbnailMenor {
    height: 115px;
}

.thumbnailMaior {
    height: 262px;
}



.EspacoThumbMenor {
    margin-top: 37px;
}


.bgSecao {
    width: 100%;
    padding: 19px;
    position: relative;
    top: 199px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.bgSecaoM {
    top: 176px;
}


.bgSecaoMenor {
    width: 100%;
    padding: 19px;
    position: relative;
    top: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}


.bgSecaoMaior {
    width: 100%;
    padding: 6px 19px;
    position: relative;
    top: 185px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

    .bgSecaoMaior p {
        margin: 0 0 0;
    }

.bgSecaoMaiorTitulo {
    font-size: 130%;
}



.bgBlackSecao {
    background: rgba(0, 0, 0, 0.8);
}

.bgGreenSecao {
    background: #037C72;
}


.thumbnail:hover .bgSecao {
    top: 193px;
    font-size: 22px;
}

.thumbnailM:hover .bgSecaoM {
    top: 168px;
    font-size: 20px;
}



.thumbnailMenor:hover .bgSecaoMenor {
    top: 40px;
    font-size: 22px;
}

.thumbnailMaior:hover .bgSecaoMaior {
    top: 173px;
    font-size: 120%;
}




.bg_ant_footer {
    width: 100%;
    height: 65px;
    float: left;
    background: #1769AA;
}

.bg_footer {
    width: 100%;
    float: left;
    background: #174E8B;
    text-align: center;
    padding: 10px 16px;
    color: #fff;
}

.infFoooterLeft {
    width: 20%;
    float: left;
    text-align: left;
}

.infFoooterCenter {
    width: 60%;
    float: left;
    text-align: center;
}

.infFoooterRight {
    width: 20%;
    float: left;
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bg_bandeira {
    width: 109px;
    height: 85px;
    position: absolute;
    background: url('../img/bandeira.png') no-repeat;
    margin: -20px 0 0 0;
}

.bg_titulo_logo {
    width: 50px;
    height: 50px;
    margin: 11px 0 0 120px;
    float: left;
    background: url('../img/logoMenorProcon.jpg') no-repeat;
}


.bg_titulo {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
    margin: 8px 0 0 3px;
    float: left;
}

.bg_gov {
    width: 165px;
    height: 50px;
    float: right;
    background: url('../img/logo_gsp_b.png') no-repeat;
    background-size: 100%;
    margin: 10px 15px 0 0;
}


.social {
    width: 255px;
    height: 42px;
    float: right;
}

.socialIcons {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
    float: left;
}

.socialIco1 {
    background: url('../img/bg_social.png') no-repeat;
    background-position: 0 0;
}

.socialIco2 {
    background: url('../img/bg_social.png') no-repeat;
    background-position: -46px 0;
}

.socialIco3 {
    background: url('../img/bg_social.png') no-repeat;
    background-position: -93px 0;
}

.socialIco4 {
    background: url('../img/bg_social.png') no-repeat;
    background-position: -139px 0;
}

.socialIco5 {
    background: url('../img/bg_social.png') no-repeat;
    background-position: -186px 0;
}
/* ALTERAÇÃO SWITCHERY */
.switchery {
    height: 20px!important;
    width: 40px!important;
}

    .switchery > small {
        height: 20px!important;
        width: 20px!important;
    }

.tabs-vertical li .switchery {
    margin-right: 10px;
}

.tabs-vertical li a span {
    margin-left: 8px;
}
/*ALTERAÇÕES TABELA */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #337ab7!important;
    border: 0px!important;
    border-radius: 3px!important;
    color: #FFF!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #000!important;
    border: 0px!important;
    border-radius: 3px!important;
    color: #FFF!important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-right: 1px solid #fff;
    background: #004d97;
    color: #fff;
}
/* TABELA FIX TOP*/
.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }
/* Tabs */
.tabs {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

    .tabs li.tab {
        background-color: #ffffff;
        display: block;
        float: left;
        margin: 0;
        text-align: center;
    }

        .tabs li.tab a {
            -moz-transition: color 0.28s ease;
            -ms-transition: color 0.28s ease;
            -o-transition: color 0.28s ease;
            -webkit-transition: color 0.28s ease;
            color: #ee6e73;
            display: block;
            height: 100%;
            text-decoration: none;
            transition: color 0.28s ease;
            width: 100%;
        }

            .tabs li.tab a.active {
                color: #ff9934 !important;
            }

    .tabs .indicator {
        background-color: #ff9934;
        bottom: 0;
        height: 2px;
        position: absolute;
        will-change: left, right;
    }

.tabs-top .indicator {
    top: 0;
}

.nav-pills li a {
    line-height: 36px !important;
}

.nav-pills li.active a {
    background-color: #ff9934 !important;
}

    .nav-pills li.active a:hover {
        background-color: #ff9934 !important;
    }

    .nav-pills li.active a:focus {
        background-color: #ff9934 !important;
    }

.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
}

.tabs-vertical-env {
    margin-bottom: 30px;
}

    .tabs-vertical-env .tab-content {
        background: #ffffff;
        display: table-cell;
        margin-bottom: 30px;
        padding: 30px;
        vertical-align: top;
    }

    .tabs-vertical-env .nav.tabs-vertical {
        display: table-cell;
        min-width: 120px;
        vertical-align: top;
        width: 150px;
    }

        .tabs-vertical-env .nav.tabs-vertical li.active > a {
            background-color: #ffffff;
            border: 0;
        }

        .tabs-vertical-env .nav.tabs-vertical .alinhar-left > a {
            text-align: left;
        }

        .tabs-vertical-env .nav.tabs-vertical li > a {
            color: #333333;
            text-align: center;
            white-space: nowrap;
        }

.nav.nav-tabs > li.active > a {
    background-color: #ffffff;
    border: 0;
}

.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #505461 !important;
    cursor: pointer;
    line-height: 40px;
    padding: 0 20px;
    letter-spacing: 0.00em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .nav.nav-tabs > li > a:hover,
    .nav.tabs-vertical > li > a:hover {
        color: #004d97 !important;
    }

.tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}

.nav.nav-tabs > li:last-of-type a {
    margin-right: 0px;
}

.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navtab-bg {
    background-color: #f4f8fb;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
    color: #ff9934 !important;
}

/*Slide*/

.carousel {
    color: #fff;
    padding: 21px 73px;
}

.mais_noticias {
    position: absolute;
    right: 21px;
    bottom: -37px;
    padding: 15px;
    z-index: 1;
}

    .mais_noticias a {
        color: #fff;
    }

.item {
    height: 182px;
    padding: 40px 0 0 0;
    text-align: left;
    font-size: 15px;
}

    .item p {
        margin: 0 0 3px;
    }

.titleNews {
    font-size: 20px;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.icon-prev {
    width: 50px !important;
    height: 50px !important;
    background: url('../img/rightSlider.png') no-repeat;
    background-size: 100%;
    opacity: 2;
}

.icon-next {
    width: 50px !important;
    height: 50px !important;
    background: url('../img/leftSlider.png') no-repeat;
    background-size: 100%;
    opacity: 2;
}




/*Busca Topo*/

button {
    -webkit-appearance: button;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
    outline: none;
}

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
        outline: none;
    }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

    input:focus {
        outline: none;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ---------- CLASSES ---------- */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ---------- TOOLBAR ---------- */

.toolbar {
    color: #fff;
}

    .toolbar li {
        float: right;
        position: relative;
        height: 34px;
    }



    .toolbar a,
    .toolbar input[type="search"],
    .toolbar button {
        background: #fff;
        color: #000;
        display: block;
        padding: .5em 1em;
        position: relative;
    }

        .toolbar a:hover,
        .toolbar input[type="search"]:hover,
        .toolbar input[type="search"]:focus,
        .toolbar button:hover {
            background: #fff;
        }

    .toolbar input[type="search"] {
        display: none;
        height: 17px;
        width: 200px;
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
    }


    .toolbar input[type="submit"] {
        display: none;
        height: 33px;
        width: 38px;
        float: right;
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        background: #004C97;
        position: relative;
        font-size: 14px;
    }

    .toolbar input[type="search"]::-webkit-input-placeholder {
        color: #bbb;
    }

    .toolbar input[type="search"]::-moz-placeholder {
        color: #bbb;
        opacity: 1;
    }

    .toolbar input[type="search"]:-moz-placeholder {
        color: #bbb;
        opacity: 1;
    }

    .toolbar input[type="search"]:-ms-input-placeholder {
        color: #bbb;
    }








/*Menu Topo*/

nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    color: #fff;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu ul li.has-sub:hover, #cssmenu ul li.has-sub a:hover {
        background: #011D3A;
    }

    #cssmenu:after, #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #head-mobile {
        display: none;
    }

#cssmenu {
    font-family: 'Roboto Condensed', sans-serif;
    background: #004D97;
}

    #cssmenu > ul > li {
        float: left;
    }

        #cssmenu > ul > li > a {
            padding: 15px 19px;
            font-size: 14px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
        }

        #cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
            color: #fff;
        }

        #cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
            background: #011D3A !important;
            -webkit-transition: background .3s ease;
            -ms-transition: background .3s ease;
            transition: background .3s ease;
        }

        #cssmenu > ul > li.has-sub > a {
            padding-right: 30px;
        }

            #cssmenu > ul > li.has-sub > a:after {
                position: absolute;
                top: 22px;
                right: 11px;
                width: 8px;
                height: 2px;
                display: block;
                background: #fff;
                content: '';
            }

            #cssmenu > ul > li.has-sub > a:before {
                position: absolute;
                top: 19px;
                right: 14px;
                display: block;
                width: 2px;
                height: 8px;
                background: #fff;
                content: '';
                -webkit-transition: all .25s ease;
                -ms-transition: all .25s ease;
                transition: all .25s ease;
            }

        #cssmenu > ul > li.has-sub:hover > a:before {
            top: 23px;
            height: 0;
        }

    #cssmenu ul ul {
        position: absolute;
        left: -9999px;
        z-index: 999;
    }

        #cssmenu ul ul li {
            height: 0;
            -webkit-transition: all .25s ease;
            -ms-transition: all .25s ease;
            background: #13385F;
            transition: all .25s ease;
        }

            #cssmenu ul ul li:hover {
            }

    #cssmenu li:hover > ul {
        left: auto;
    }

        #cssmenu li:hover > ul > li {
            height: 35px;
        }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0;
    }

    #cssmenu ul ul li a {
        border-bottom: 1px solid #769ABD;
        padding: 10px 14px;
        font-size: 14px;
        text-decoration: none;
        color: #ddd;
        font-weight: 400;
    }

    #cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
        border-bottom: 0;
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
        color: #fff;
    }

    #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #fff;
        content: '';
    }

    #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #fff;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease;
    }

    #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0;
    }

    #cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
        background: #13385F;
    }

    #cssmenu ul ul ul li.active a {
        border-left: 1px solid #769ABD;
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid #769ABD;
    }

.logo {
    display: none;
}


@media screen and (max-width:700px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 97%;
        height: 46px;
        line-height: 46px;
        text-align: center;
        padding: 0 0 0 3%;
        float: none;
        color: #7AA4CE;
        text-align: left;
        font-size: 20px;
        display: block;
    }

    .logo2 {
        display: none;
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
        }

            #cssmenu ul li {
                width: 100%;
                border-top: 1px solid #769ABD;
            }

                #cssmenu ul li:hover {
                    background: #363636;
                }

            #cssmenu ul ul li, #cssmenu li:hover > ul > li {
                height: auto;
            }

                #cssmenu ul li a, #cssmenu ul ul li a {
                    width: 100%;
                    border-bottom: 0;
                }

        #cssmenu > ul > li {
            float: none;
        }

        #cssmenu ul ul li a {
            padding-left: 25px;
        }

        #cssmenu ul ul li {
            background: #13385F!important;
        }

            #cssmenu ul ul li:hover {
                background: #011D3A!important;
            }

        #cssmenu ul ul ul li a {
            padding-left: 35px;
        }

        #cssmenu ul ul li a {
            color: #ddd;
            background: #0360B9;
        }

        #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
            color: #fff;
        }

        #cssmenu ul ul, #cssmenu ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
        }

            #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
                display: none;
            }

        #cssmenu #head-mobile {
            display: block;
            padding: 23px;
            color: #ddd;
            font-size: 12px;
            font-weight: 700;
        }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }

        .button:after {
            position: absolute;
            top: 22px;
            right: 20px;
            display: block;
            height: 8px;
            width: 20px;
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
            content: '';
        }

        .button:before {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            position: absolute;
            top: 16px;
            right: 20px;
            display: block;
            height: 2px;
            width: 20px;
            background: #ddd;
            content: '';
        }

        .button.menu-opened:after {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            top: 23px;
            border: 0;
            height: 2px;
            width: 19px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .button.menu-opened:before {
            top: 23px;
            background: #fff;
            width: 19px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #769ABD;
        height: 44px;
        width: 44px;
        cursor: pointer;
    }

        #cssmenu .submenu-button.submenu-opened {
            background: #010B15;
        }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff;
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }

    #cssmenu ul ul ul li.active a {
        border-left: none;
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none;
    }
}


.barrabc {
    text-align: left;
    height: 30px;
    line-height: 30px;
}

    .barrabc ol {
        padding: 5px 0;
        background-color: transparent;
    }

.conteudo {
    min-height: 330px;
    text-align: justify;
}

    .conteudo h1 {
        font-size: 155%;
        margin: 0 0 10px 0;
        padding: 0 12px;
        font-weight: bold;
        color: #004D97;
    }

    .conteudo p {
        padding: 0px;
        /*font-size: 80%;*/
        /*color: #000;*/
    }



.acessibilidade {
    float: left;
    height: auto;
}

    .acessibilidade button {
        font-size: 1.0em;
        color: #174E8B;
    }

    .acessibilidade li {
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-right: 2px;
        float: left;
        background: #eee;
        font-size: 21px !important;
        text-align: center;
        cursor: pointer;
    }

        .acessibilidade li:hover {
            background: #ddd;
        }

.iconOff {
    color: #aaa;
    text-decoration: none;
}

    .iconOff:hover {
        color: #aaa;
        text-decoration: none;
    }

.iconsAcoes {
    color: #000;
    margin: 0 10px;
    cursor: pointer;
}


.tituloCampos {
    width: 100%;
    text-align: left !important;
    padding: 2px 0 !important;
}

.AlignCenter {
    text-align: center;
}

.col-33 {
    width: 33.3%;
    float: left;
    padding: 0 0 0 1%;
}

.col-50 {
    width: 50%;
    float: left;
    padding: 0 0 0 1%;
}

.dataTables_wrapper input {
    height: 20px;
}

.form-horizontal .form-group {
    margin: 0 auto;
}

/*.btn-default {
    margin-top: 15px;
}*/

.navAbas {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

.boxInfo {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 4px;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    font-size: 115%;
}

.boxInfoHeader {
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    padding: 9px;
    background: #F1F1F1;
}

.boxInfoConteudo {
    border-radius: 0 0 4px 4px;
    padding: 9px;
    float: left;
    width: 100%;
}

    .boxInfoConteudo p {
        margin: 0 0 0;
        width: 100%;
        float: left;
        clear: both;
    }


.boxInfoConteudoTitulo {
    font-weight: bold;
    width: 17%;
    float: left;
}

.boxInfoConteudoDesc {
    width: 83%;
    float: left;
}

.esconder {
    display: block;
    height: 1px;
    width: 1px;
    left: -999em;
    overflow: hidden;
    position: absolute;
}


.pull-down {
    font-size: 0;
}

    .pull-down .radio-check {
        vertical-align: bottom;
    }

    .pull-down > * {
        font-size: 14px;
        float: none;
        display: inline-block;
    }

        .pull-down > *:last-child {
            vertical-align: bottom;
        }

.mensagemAlerta {
    position: absolute;
    z-index: 99999999;
    bottom: 40px;
    right: 100px;
    border-color: #797979;
}

.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 0 5px 5px 5px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #999;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

    .tree li.parent_li ul {
        margin-left: 40px;
    }

        .tree li.parent_li ul > li input {
            margin: 15px 5px 0 5px;
        }

.boxGrupo {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 160px;
    overflow-y: scroll;
}

.itemAtivo {
    background-color: #ccc;
}

.numeroAno {
    direction: rtl;
}

.input-numerorfc {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-anorfc {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.div-numerorfc {
    padding-right: 0!important;
}

.div-anorfc {
    padding-left: 0!important;
    margin-top: 25px;
}

.typeahead.dropdown-menu li.active a {
    background: #004d97 !important;
    color: white !important;
}

.typeahead.dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
}

    .typeahead.dropdown-menu a {
        color: #262626;
        white-space: initial;
    }

.label-obrigatorio {
    color: red;
}

/* correção vertical nav */

.container_vertical_nav {
    position: relative;
}

    .container_vertical_nav .vertical_nav {
        top: 30px;
        left: 0;
    }

    .container_vertical_nav .wrapper2 {
        margin-left: 200px;
        padding: 15px 30px;
        transition: all 0.3s ease-out;
    }

.typeahead.dropdown-menu a {
    color: #262626;
}

.header2 {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: #eee;
}

.label-obrigatorio {
    color: red;
}

.frame {
    display: none;
}

.frame-active {
    display: block!important;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.js-menu-active {
    background-color: #fff;
}

textarea {
    resize: vertical;
}

/* toggle status ativo/inativo - rodrigo 30/03/2017 */

.btn-default.btn-on.active {
    background-color: #5cb85c;
    color: #fff;
}

.btn-default.btn-off.active {
    background-color: #d9534f;
    color: #fff;
}

/* correção no foco ao clique do menu */

.menu-topo nav ul li a:focus, .menu-topo nav ul li.open > a {
    background: none !important;
}

/* correção no slider */

.slide .glyphicon {
    margin: 4px;
}





/* Fiscalização Operacional  */


.nextPrev {
    color: #337ab7;
}


.dadosFornecedor .form-control-static {
    min-height: inherit;
    padding: 0;
}

#dadosCarregados, #enderecoCarregado {
    display: none;
}

.enderecoCorrespondencia, .enderecoFiscalizacao {
    display: none;
    transition: all ease 1s;
}

.modal .form-group {
    margin-bottom: 5px;
}
/* Fiscalização Operacional  */

.esconder {
    display: none;
}

.exibir {
    display: block;
}

.watermarked table {
    width: 100%;
}

.watermarked::before {
    position: absolute;
    top: -75%;
    left: -75%;
    display: block;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg);
    content: attr(data-watermark);
    opacity: 0.3;
    line-height: 3em;
    letter-spacing: 2px;
    color: #ccc;
}

/* auto cancelado */
.marca-cancelado {
    background: url(../Assets/Img/marca-dagua-auto-cancelado.jpg) no-repeat 50%;
    background-size: contain;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 0.4;
}

/*Para o tipo da solicitação*/
.tipo-reclamacao {
    background: #cc0000;
    color: #fff;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.tipo-consulta {
    background: #286090;
    color: #fff;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.tipo-atendimento {
    background: #336600;
    color: #fff;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}



/* INTERAÇÕES */

.integracoes {
    padding: 20px;
    background: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 50px #f5f5f5 inset;
}

    .integracoes .msg {
        background: rgb(217, 223, 226);
        border-radius: 10px;
        padding: 5px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
        margin: 10px 0;
        word-break: break-word;
    }

        .integracoes .msg.consumidor {
            background: #f2f2f2;
            color: #000;
        }

        .integracoes .msg.tecnico .nome::before {
            font-family: "Glyphicons Halflings";
            content: "\e250";
            color: #d9dfe2;
            position: absolute;
            top: 35%;
            right: -35px;
            z-index: 999;
            font-size: 22px;
        }

        .integracoes .msg.consumidor .nome::before {
            font-family: "Glyphicons Halflings";
            content: "\e251";
            color: rgb(242, 242, 242);
            position: absolute;
            top: 35%;
            left: -35px;
            z-index: 999;
            font-size: 22px;
        }

        .integracoes .msg .nome {
            font-size: 16px;
            margin: 0;
            position: relative;
        }

        .integracoes .msg.tecnico .nome {
            color: #000;
        }

        .integracoes .msg .data-hora {
            color: #353535;
            text-align: right;
            font-size: 12px;
        }

        .integracoes .privado {
			background: #ffcc00;
		}

		.integracoes .privado .nome::before {
            color: #ffcc00 !important;
        }

.interacao-campos {
    margin-top: 0;
    padding: 18px;
    background: #eaeaea;
    position: relative;
}

    .interacao-campos .btn {
        font-size: 17px;
    }

    .interacao-campos textarea {
        color: #000;
        resize: none;
        font-size: 1.2em;
    }

.auto-complete {
    position: relative;
}

    .auto-complete::after {
        font-family: "Glyphicons Halflings";
        content: "\e003";
        color: #ddd;
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 12pt;
    }

table tbody tr td.acoes {
    min-width: 60px;
}

    table tbody tr td.acoes button, table tbody tr td.acoes a {
        padding: 5px 9px;
    }

/* estilo observações do RFC */

.operacao-rfc .panel-body {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

/* Registro de Atendimento - Reclamação - ANEXO */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.image-preview-input-title {
    margin-left: 2px;
}
/* */


.panel-group#accordion .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-group#accordion .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

span.nao_informado
{
    color:#CCC;
    text-transform:uppercase;
}

/*#conteudo_principal.conteudo {

}

    #conteudo_principal.conteudo .panel-body {
        min-height: 140px;
    }*/

.atendimento-tecnico-contador {
    color: #006699;
    font-size: 2em;
    vertical-align:middle;
    line-height: 34px;
}

.quebra-linha {
    word-break: break-all;
}

.fundoDesabilitado {
    background: #EEE;
}


#satisfacao i.smile {
    padding: 1px 10px;
    margin: 3px;
    border-radius: 50%;
}

#satisfacao i.smile[data-nivel='5'] {
    background: url(../../Content/images/face-5.png) 50% #8BC34A;
    background-size: contain;
}

#satisfacao i.smile[data-nivel='4'] {
    background: url(../../Content/images/face-4.png) 50% #CDDC39;
    background-size: contain;
}

#satisfacao i.smile[data-nivel='3'] {
    background: url(../../Content/images/face-3.png) 50% #FFEB3B;
    background-size: contain;
}

#satisfacao i.smile[data-nivel='2'] {
    background: url(../../Content/images/face-2.png) 50% #FFC107;
    background-size: contain;
}

#satisfacao i.smile[data-nivel='1'] {
    background: url(../../Content/images/face-1.png) 50% #FF5722;
    background-size: contain;
}

.boldFont {
    font-weight: bold;
}
