/*Responsivo*/


@media (max-width: 420px)  { 
	body{
		min-height: 735px;
	}
	
	.form-login {
		top: 70px;
		max-height: 555px;
		min-height: 555px;
	}
	
	.form-login .acoes {
		margin: 12px 0 0 0;
	}
	
	.form-login .acoes a {
		min-width: 100%;
		float: left;
		font-size: 18px !important;
		margin: 10px 0 5px 0 !important;
	}
	
	.separador{
		display: none;
	}
	
	.btnFace {
		width: 100%;
		height: 40px;
		float: left;
		background: url('../img/btnSocialFace.png') no-repeat;
		background-size: 68%;
		background-position: center;
	}
	
	.btnTwitter {
		width: 100%;
		height: 40px;
		float: left;
		margin: 10px 0 0 0;
		background: url('../img/btnSocialTwitter.png') no-repeat;
		background-size: 68%;
		background-position: center;
	}
}



@media (min-width: 421px) and (max-width: 620px)  { 
	
	body{
		min-height: 650px;
	}
	
	.form-login {
		max-height: 440px;
		min-height: 440px;
	}
	
}