<div id="modalConfirmacao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Remover</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 id="textoCorpo"></h4>
                        <button id="btnNao" type="button" class="btn btn-danger" data-dismiss="modal" style="margin-top: 0px">NÃO</button>
                        <button id="btnSim" class="btn btn-primary">SIM</button>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>