@model Nullable<int>
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    string actionFiltro = ViewBag.ActionFiltro;
    string actionListar = ViewBag.ActionListar;
    string actionBarraInferior = ViewBag.ActionBarraInferior;
    FormMethod method = actionListar.Equals("Listar") ? FormMethod.Get : FormMethod.Post;
    string carregarLista = ViewBag.CarregarLista.ToString().ToLower();
    bool exibirBarraInferior = ViewBag.BarraInferior;
    string tituloBotaoBarraInferior = ViewBag.tituloBotaoBarraInferior ?? "";
    string acaoBotaoBarraInferior = ViewBag.acaoBotaoBarraInferior ?? "";
    string urlacaoBarraInferior = ViewBag.urlacaoBarraInferior ?? "";
}
<h2>@ViewBag.Title</h2>
<hr />
<div id="divFiltro" class="divFiltro">
    @using (Html.BeginForm(actionListar, controller, method, new { id = "frmFiltro" + controller, @class = "frm-filtro" }))
    {
        <div id="filtrar" class="divFiltro">
            @Html.Action(actionFiltro)
        </div>
    }
</div>
<div class="panel panel-default">
    <div class="row panel-body">
        @Html.Action("ListaVazia")
    </div>
</div>
<link rel="stylesheet" href="~/assets/css/datatables/jquery.dataTables.css" />
<script type="text/javascript" src="~/assets/scripts/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'top'
        });
    });
</script>