
@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>


<div id="dadosdinamicos">
    @{Html.RenderPartial("CreateUserInformation");
    }
</div>


@*@section MyScripts
{
    @System.Web.Optimization.Scripts.Render("~/Scripts/Licoes/unovalidate.js")
}*@